<table class="leaderboard dm-table dm-table--dark">
  <thead class="dm-table__thead">
  <tr class="dm-table__row">
    <th class="dm-table__cell">Warrior</th>
    <th class="dm-table__cell dm-text-right">Wins</th>
  </tr>
  </thead>
  <tbody>
  <tr class="dm-table__row">
    <td class="dm-table__cell">Nitro</td>
    <td class="dm-table__cell dm-text-right">20</td>
  </tr>
  <tr class="dm-table__row">
    <td class="dm-table__cell">T2000</td>
    <td class="dm-table__cell dm-text-right">17</td>
  </tr>
  <tr class="dm-table__row">
    <td class="dm-table__cell">Rocky Balboa</td>
    <td class="dm-table__cell dm-text-right">27</td>
  </tr>
  </tbody>
</table>
