<div class="dm-container-fluid">
  <div class="dm-row dm-row--no-gutter">
    <div class="dm-col-xs-12">
      <app-header></app-header>
      <app-notification-list></app-notification-list>
    </div>
  </div>
  <div class="dm-row dm-row--no-gutter">
    <div class="dm-col-xs-12 dm-col-md-9 dm-push-md-3">
      <app-matchup></app-matchup>
    </div>
    <aside class="dm-sidebar dm-col-xs-12 dm-col-md-3 dm-pull-md-9">
      <app-leaderboard class="dm-sidebar__section dm-sidebar__section--full-width"></app-leaderboard>
      <app-warriors-list class="dm-sidebar__section"></app-warriors-list>
    </aside>
  </div>
</div>
