<table class="leaderboard dm-table dm-table--dark">
  <thead class="dm-table__thead">
  <tr class="dm-table__row">
    <th class="dm-table__cell">Warrior</th>
    <th class="dm-table__cell dm-text-right">Wins</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let warrior of warriors | async | arraySort: 'wins' : true" class="dm-table__row">
      <td class="dm-table__cell">{{ warrior.name }}</td>
      <td class="dm-table__cell dm-text-right">{{ warrior.wins }}</td>
    </tr>
  </tbody>
</table>
